.header {
  margin: 2em;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  background-color: #A9A9A9;
  color: white;
  border-radius: 10px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  text-align: center;
  border: 14px black solid;
}

.moreBtn {
  position: sticky;
  position: -webkit-sticky;
  bottom: 3rem;
  align-self: flex-end;
  justify-self: center;
}

.missingCard {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  flex: 1;
}
