.header {
  margin: 2em;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  background-color: #A9A9A9;
  color: white;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  text-align: center;
}

.moreBtn {
  position: sticky;
  position: -webkit-sticky;
  bottom: 3rem;
  align-self: flex-end;
  justify-self: center;
}

.missingCard {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1rem;
  }
  .cardContainer {
    grid-template-columns: 1fr;
  }
  .wrapper {
    border: none;
  }
}
@media only screen and (max-width: 770px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
